* {
    padding: 0;
    margin: 0;
}


//头部样式
.headerStyle {
    height: 10vh;
    /* padding: 50px; */
    background-color: rgb(213, 213, 213);
    display: flex;
    justify-content: flex-end;

    // header部分右部分样式
    .right {
        width: 600px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .searchInput {
            margin-right: 10px;
        }

        .loginBtnStyle {
            color: rgb(241, 145, 19);
        }

    }
}

// 主体部分样式
.contentStyle {
    text-align: center;
    min-height: 120px;
    /* line-height: 120px; */
    height: 80vh;
    background-color: rgb(235, 235, 235);
    position: relative;

    .tabStyle {
        padding-left: 0 !important;

        .ant-tabs-nav-more {
            display: none;
        }

        .ant-tabs-nav {
            margin-top: 100px;
            height: 300px;
        }

        [id^="rc-tabs-1-panel-"] {
            padding-left: 0 !important;
        }

        /*         #rc-tabs-3-panel-all {
            padding-left: 0;
        }
 */
        .textStyle {
            margin: 25px auto;
            width: 95%;
            // height: 75vh;
            min-height: 100px;
        }
    }
}

// 侧边sider样式
.siderStyle {
    text-align: center;
    height: 80vh;
    background-color: red;

    .leftStyle {
        /* width: 15.625rem; */
        width: 260px;
        margin: 0 25px;
        height: 100%;
        background-color: rgb(189, 189, 189);

        .ant-picker-panel {
            width: 100%;
        }

        .pushBtn {
            margin-top: 10px;
        }
    }
}

// 底部样式
.footerStyle {
    text-align: center;
    height: 10vh;
    background-color: #b0b0b0;
}

.searchListStyle {
    width: 500px;
    padding-left: 10px;
    max-height: 200px;
    background-color: rgb(255, 234, 234);
    position: absolute;
    z-index: 999;
    top: 8vh;
    overflow-y: scroll;
}